flows-node-red.json
[
  {
    "id": "1d00b3e61ba53eb4",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/home",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 320,
    "wires": [["6516795a50dc5c68"]]
  },
  {
    "id": "5aeef4f984f4b7d9",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/hotBed",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 140,
    "wires": [["191ad9b0db52f238"]]
  },
  {
    "id": "6516795a50dc5c68",
    "type": "switch",
    "z": "a459e4e26e1816fb",
    "name": "ON",
    "property": "payload.home",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "ok", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 250,
    "y": 320,
    "wires": [["11b4418816f72cb9"]]
  },
  {
    "id": "11b4418816f72cb9",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "msg={};\nmsg.payload = {\n    \"commands\": [\n        \"G28\"\n    ],\n    \"parameters\": {}\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 320,
    "wires": [["14242b9607ae20cc"]]
  },
  {
    "id": "14242b9607ae20cc",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/command",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 530,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "191ad9b0db52f238",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "const temp = parseInt(msg.payload.temperature);\nmsg={};\nmsg.payload = {\n    \"command\": \"target\",\n    \"target\": temp\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 140,
    "wires": [["021ff15d44f5351b"]]
  },
  {
    "id": "021ff15d44f5351b",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/bed",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "other",
        "valueValue": "application/json"
      }
    ],
    "x": 450,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "9564e10a342090bd",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "const temp = parseInt(msg.payload.temperature);\nmsg={};\nmsg.payload = {\n    \"command\": \"target\",\n    \"targets\": {\n        \"tool0\": temp\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 80,
    "wires": [["34b73b453a6c333b"]]
  },
  {
    "id": "34b73b453a6c333b",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.65/api/printer/tool ",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 430,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "40df01a8ae9b1f9c",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/hotEnd",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 80,
    "wires": [["9564e10a342090bd"]]
  },
  {
    "id": "9885832eebf942e3",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/CoolDown",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 220,
    "wires": [["c4d061200115dedd", "fa0d3553521822bd"]]
  },
  {
    "id": "fa0d3553521822bd",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "const temp = parseInt(msg.payload.temperature);\nmsg={};\nmsg.payload = {\n    \"command\": \"target\",\n    \"target\": 0\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 260,
    "wires": [["7b5c61efbec62691"]]
  },
  {
    "id": "7b5c61efbec62691",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/bed",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "other",
        "valueValue": "application/json"
      }
    ],
    "x": 510,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "cf683fc1db5f0f3a",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "const temp = parseInt(msg.payload.temperature);\nmsg={};\nmsg.payload = {\n    \"command\": \"target\",\n    \"targets\": {\n        \"tool0\": 0\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 200,
    "wires": [["1ed73e2d5f06944a"]]
  },
  {
    "id": "1ed73e2d5f06944a",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.65/api/printer/tool ",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "c4d061200115dedd",
    "type": "delay",
    "z": "a459e4e26e1816fb",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 340,
    "y": 200,
    "wires": [["cf683fc1db5f0f3a"]]
  },
  {
    "id": "9649365859ad2aa6",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/moveAxis",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 480,
    "wires": [["e5d8823b2ac5ca0f"]]
  },
  {
    "id": "6cdacb2f2fb094c4",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body (X,Y, Z)",
    "func": "const { axis, distance } = msg.payload;\n\nmsg={};\n\n\nmsg = {};\nmsg.payload = {\n    \"command\": \"jog\",\n    [axis.toLowerCase()]: parseInt(distance)*10\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 460,
    "wires": [["de8382115e511452"]]
  },
  {
    "id": "de8382115e511452",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/printhead",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 590,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "e5d8823b2ac5ca0f",
    "type": "switch",
    "z": "a459e4e26e1816fb",
    "name": "",
    "property": "payload.axis",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "X", "vt": "str" },
      { "t": "eq", "v": "Y", "vt": "str" },
      { "t": "eq", "v": "Z", "vt": "str" },
      { "t": "eq", "v": "F", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 270,
    "y": 480,
    "wires": [
      ["6cdacb2f2fb094c4"],
      ["6cdacb2f2fb094c4"],
      ["6cdacb2f2fb094c4"],
      ["686e33c09b424427"]
    ]
  },
  {
    "id": "fc3375a7ecdbf633",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/motors",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 580,
    "wires": [["129e1415cb06096e"]]
  },
  {
    "id": "9e423f9e53befe02",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.0.65/api/printer?history=true&limit=1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 270,
    "y": 20,
    "wires": [["73faf63d4fc2ddfd"]]
  },
  {
    "id": "26b05ff063bd5f95",
    "type": "api-call-service",
    "z": "a459e4e26e1816fb",
    "name": "msg",
    "server": "40e72233.2b8a9c",
    "version": 5,
    "debugenabled": false,
    "domain": "notify",
    "service": "alexa_media_echo_dot_de_thiago",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{{ data }}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "all",
    "x": 550,
    "y": 20,
    "wires": [[]]
  },
  {
    "id": "73faf63d4fc2ddfd",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "function 4",
    "func": "const bed_temp = parseInt( msg.payload.temperature.bed.actual );\nconst tool_temp = parseInt( msg.payload.temperature.tool0.actual );\n\n\nmsg.payload = { data: { \"message\": `A temperatura da mesa aquecida está em ${bed_temp} graus e o bico de impressão está com a temperatura de ${ tool_temp } graus.`, \"data\": { \"type\": \"tts\" } }}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 20,
    "wires": [["26b05ff063bd5f95"]]
  },
  {
    "id": "dd9c2fa9835d6046",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/status",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 20,
    "wires": [["9e423f9e53befe02"]]
  },
  {
    "id": "686e33c09b424427",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body (F)",
    "func": "const { axis, distance } = msg.payload;\n\nmsg={};\n\n\nmsg = {};\nmsg.payload = {\n    \"command\": \"extrude\",\n    \"amount\": parseInt(distance)*10\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 500,
    "wires": [["f451aa9c7740825f"]]
  },
  {
    "id": "f451aa9c7740825f",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/tool",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 590,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "129e1415cb06096e",
    "type": "switch",
    "z": "a459e4e26e1816fb",
    "name": "Motors off",
    "property": "payload.motors",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "off", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 280,
    "y": 580,
    "wires": [["8fafefb5ad23e674"]]
  },
  {
    "id": "8fafefb5ad23e674",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "msg={};\nmsg.payload = {\n    \"commands\": [\n        \"M84\"\n    ],\n    \"parameters\": {}\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 580,
    "wires": [["cc99155e5133e54d"]]
  },
  {
    "id": "cc99155e5133e54d",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/command",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 550,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "a1da3aa72ec52d0e",
    "type": "http request",
    "z": "a459e4e26e1816fb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://octopi.local/api/printer/command",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 430,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "51b3f8092628746f",
    "type": "mqtt in",
    "z": "a459e4e26e1816fb",
    "name": "",
    "topic": "ender3/homeAxis",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "327fb343955d2f87",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 400,
    "wires": [["8efe807c20f919ee"]]
  },
  {
    "id": "8efe807c20f919ee",
    "type": "function",
    "z": "a459e4e26e1816fb",
    "name": "Body",
    "func": "const { axis } = msg.payload;\n\nmsg={};\nmsg.payload = {\n    \"commands\": [\n        `G28 ${axis}`\n    ],\n    \"parameters\": {}\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 400,
    "wires": [["a1da3aa72ec52d0e"]]
  },
  {
    "id": "327fb343955d2f87",
    "type": "mqtt-broker",
    "name": "",
    "broker": "275911a850464fa2aeee888c0f6182d0.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "3",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "40e72233.2b8a9c",
    "type": "server",
    "name": "Home Assistant",
    "addon": true
  }
]
